
@font-face {
    font-family: 'Iowan';
    src: url('../Iowan.ttc');
}




.Icon {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 150px;
	height: 150px;
	/* border: 2px solid blue; */
	background-image: url('https://res.cloudinary.com/laraanna/image/upload/v1530461949/icon.png') !important;
	background-size: contain !important;
	background-position: center;
	background-repeat: no-repeat !important;

}

.canvas-container {
	margin: 0 auto;
}

.Header {
	margin: 0px auto;
	margin-bottom: 40px;
	width: 100% !important;
	text-align: center;
	height: 80px;
	background-image: url('../title.jpg') !important;
	background-size: contain !important;
	background-position: center;
	background-repeat: no-repeat !important;

}


.Colors {
	position: absolute;
	bottom: -90px;
	left: 0;
	right: 0;

}

.Colors > div {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
}

.Colors > div:hover {
	cursor: pointer;
}

.Actions {
	/* border: 2px solid black; */
	text-align: left;

}

.Actions > div {
	display: inline-block;
	/* width: 50px; */
	/* padding: 5px 5px; */
	margin-top: 10px;
	margin-right: 20px;
	border-bottom: 2px solid transparent;

}

.Actions > div p {
	font-family: "Arial";
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;

}

.Toolbox p {
	text-align: left;
	margin-bottom: 30px;
	font-size: 17px;
	font-family: "Iowan";
}



.Actions > div:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
}


.Canvas {
	position: relative;
	display: inline-block;
	margin: 0px auto !important;
	width: 500px ;

}

.Toolbox {
	position: absolute;
	bottom:100px;
	right: -280px;
	width: 220px;
}

canvas:hover {
	cursor: url('../pencil_sm.png') 4 30 , pointer;

}



.instruction-text span{
	font-style: italic;
	font-size: 14px;
}

@media only screen and (min-width: 500px) and (max-width: 1100px){
	.Header {
		margin-bottom: 120px;
		height: 80px;
	}
	.Toolbox {
		position: relative;
		left: 0;
		margin: 110px auto;
		width: 100%;
	}
	.instruction-text {
		position: relative;
	}
	.Colors {
		bottom: 100px;
	}
	.Toolbox p {
		text-align: center;
	}
	.Actions {
		text-align: center;
	}

}
@media only screen and (min-width: 1600px) and (max-width: 1824px){
	.Header {
		margin-bottom: 100px;
		height: 80px;
	}

	.Colors {
		bottom: -140px;
	}

	.Canvas {
		width: 600px;
	}

	/* .Colors > div {
		width: 40px;
		height: 40px;
		margin: 14px;
	} */
}
@media only screen and (max-width: 500px) {
		.Icon {
			display: none;

		}


		.Canvas {
			margin-top: 50px !important;
			width: 100% !important;

		}

		canvas {
			margin-top: 50px;
			margin-bottom: 80px;
		}

		.canvas-container {
			text-align: center;
			width: 100%;
		}

		.Toolbox {
			position: relative;
			left: 0;
			width: 80vw;
			margin: 0 auto;
			margin-top: 50px;
		}
		.Toolbox p {
			margin-top: 100px;
			text-align: center;
		}
		.Actions > div p{
			margin-top: 0;

		}
		.Actions > div:nth-child(2) {
			/* margin-left: 10px;
			margin-right: 10px; */
		}
		.Actions {
			margin: 0 auto;
			text-align: center;
		}

		.Colors {
			position: relative;
			bottom: 0px;
			margin-top: -80px;
		}

		.instruction-text {
			margin-top: 150px !important;
		}

		.Header {
			margin-bottom: 40px;
		}

		.instruction-text span{
			font-size: 16px;
		}

}

@media only screen and (min-width: 1824px) {
	.Canvas {
		/* margin-top: 50px !important; */
		width: 1700px;

	}


	/* .Colors {
		bottom: -100px;
	} */

	/* .Colors > div {
		width: 55px;
		height: 55px;
		margin: 14px;
	} */

	.Toolbox {
		bottom:200px;
		right: 60px;
		width: 320px;
	}

	.Header {
		height: 80px;
		margin-bottom: 50px;

	}
	.Actions > div p {
		font-size: 16px;
		/* margin-bottom: 2px; */

	}

	.Toolbox p {
		font-size: 18px;
	}

}
