@font-face {
    font-family: 'Plantin';
    src: url('./PlantBQConBol.ttf');
}


.App {
  text-align: center;
	margin: 30px auto;
	cursor: auto;
	position: relative;
	width: 100vw !important;
}

.Header {
	margin: 0 auto;
	/* width: 130px; */
	width: 100vw !important;
	text-align: center;
	height: 60px;
	background-image: url('./title.jpg') !important;
	background-size: contain !important;
	background-position: center;
	background-repeat: no-repeat !important;

}

.App h1 {
	font-family: 'Plantin';
	font-weight: bold;
	font-size: 62px;
	margin-bottom: 0;
	margin-top: 20px;
}


.Canvas {
	display: inline-block;
	margin: 0 auto !important;
}

@media only screen and (max-width: 600px) {
		.App {
			margin: 0 auto;

		}
    canvas {
      /* width: 300px; */
			margin: 0 auto;
    }

}


canvas {
	margin-top: 10px;
	/* background-image: url('./figure.jpg') !important; */
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

canvas:hover {
	cursor: url('./pencil_sm.png') 4 30 , pointer;
}

.Generated-Statue {
	width: 500px;
	height: 400px;
	/* background-image: url('./figure.jpg') !important; */
	background-size: contain !important;
	background-repeat: no-repeat !important;
}



.Gallary {
	/* display: none; */
}


@media only screen and (max-width: 600px) {

}
